<div class="container">
<div cg-busy="{promise:promise, message:'Loading..', backdrop:true}"></div>
<div class="form-inline">
  <div class="form-group">
    <button class="btn btn-primary" ng-click="loadAttendanceData()">Load Attendances</button>
  </div>
  <div class="form-group">
    <label>Type</label>
    <div class="btn-group">
      <label class="btn btn-default">
        <input type="radio" ng-model="search.type" value="th"  /> Theory
      </label>
      <label class="btn btn-default">
        <input type="radio" ng-model="search.type" value="pr" /> Practical
      </label>
    </div>
  </div>
  <div class="form-group">
    <label>Class</label>
    <div class="btn-group">
      <label class="btn btn-default">
        <input type="radio" ng-model="search.year" value="se"  /> SE
      </label>
      <label class="btn btn-default">
        <input type="radio" ng-model="search.year" value="te" /> TE
      </label>
      <label class="btn btn-default">
        <input type="radio" ng-model="search.year" value="be" /> BE
      </label>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-info" ng-click="search = null ">Clear filters</button>
  </div>
</div>
<table class="table table-striped table-condensed table-responsive">
  <tr>
    <th style="width:5%">Sr. No</th>
    <th style="width:10%">Class</th>
    <th style="width: 10%">Subject</th>
    <th style="width: 10%">Type</th>
    <th>Absent Numbers</th>
    <th style="width: 12%">Date</th>
    <th style="width: 5%">Edit</th>
  </tr>
  <tr ng-repeat="(key, item) in attendances | objectFilter:search track by $index">
    <td>{{$index + 1}}</td>
    <td>
      <span>{{depts[item.dept].name}}</span>

      <span>{{(item.year).toUpperCase()}}</span>

      <span>{{showSem(item.semester)}}</span>
    </td>
    <td>
      <span>{{showSub(item.subid)}}</span>
    </td>
    <td>
      <span>{{showType(item)}}</span>
    </td>
    <td style="z-index: 999;">
      <div>
        <a href="" title="" data-toggle="popover" data-content="{{showAbsent(item.absentno)}}" data-trigger="hover">Absentees</a>
      </div>
      <span editable-text="item.absentnostring" onshow="item.absentnostring = showAbsent(item.absentno)" e-name="absentno" e-form="rowform" onbeforesave="checkRoll(item, $data)">
      </span>
    </td>
    <td>
      <a editable-text="item.date" e-form="rowform" e-name="date">
        {{item.date | date:dd/MM/yyyy}}
      </a>
    </td>
    <td style="white-space: nowrap">
      <form editable-form name="rowform" onbeforesave="saveAtt(key, item, $data)" ng-show="rowform.$visible" class="form-buttons form-inline">
        <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary">
          save
        </button>
        <button class="btn btn-danger" confirm="Are you sure to delete this attendance from database?" ng-disabled="rowform.$waiting" ng-click="deleteAtt(key, rowform)">del</button>
        <button type="button" ng-disabled="rowform.$waiting" ng-click="cancel(rowform)" class="btn btn-default">
          cancel
        </button>
      </form>
      <div class="buttons" ng-show="!rowform.$visible">
        <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
      </div>
    </td>
  </tr>
</table>
</div>
