<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">View Defaulters</h3>
      </div>
      <div class="panel-body">
        <form class="form-signin">
          <div class="input-group">
            <label for="inputDept" class="sr-only">Department</label>
            <span class="input-group-addon"><span class="glyphicon glyphicon-briefcase"></span></span>
            <select id="inputDept" class="form-control" ng-model="form.dept">
              <option ng-repeat="dept in depts" value="{{dept.id}}">{{dept.name}}</option>
            </select>
            <div cg-busy="deptpromise"></div>
          </div>

          <div class="input-group">
            <label for="inputYear" class="sr-only">Year</label>
            <span class="input-group-addon"><span class="glyphicon glyphicon-signal"></span></span>
            <select id="inputYear" class="form-control" ng-model="form.year">
              <option ng-repeat="year in years" value="{{year.id}}">{{year.name}}</option>
            </select>
          </div>

          <div class="input-group">
            <label for="inputSem" class="sr-only">Year</label>
            <span class="input-group-addon"><span class="glyphicon glyphicon-signal"></span></span>
            <select id="inputSem" class="form-control" ng-model="form.sem">
              <option value="{{2 * form.year - 1}}">Semester {{2 * form.year - 1}}</option>
              <option value="{{2 * form.year}}">Semester {{2 * form.year}}</option>
            </select>
          </div>

          <button class="btn btn-primary btn-block" ng-click="loadDefaulters(form)">Go</button>
          <div cg-busy="{promise:promise, message:'Loading in..', backdrop:true}"></div>
        </form>

      </div>
    </div>
  </div>
  <div class="col-md-6" ng-show="defaulters.length>0">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Defaulters</h3>
      </div>
      <div class="panel-body">
        <table class="table table-condensed">
          <tr>
            <th>Name</th>
            <th>Date</th>
            <th>Link</th>
          </tr>
          <tr ng-repeat="item in defaulters">
            <td>{{item.dept}} {{item.year}} Sem {{item.sem}}</td>
            <td>{{item.date | date:'dd MMMM, yyyy'}}</td>
            <td><a href="#/defaulters" ng-click="download(item.base64)">Download</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
