<div>
    <ul class="nav nav-tabs nav-justified">
        <toast></toast>
        <li ng-repeat="val in sublists"><a data-toggle="tab" ng-click="showEyellowBook(val)">{{val | uppercase}}</a></li>
        <li ng-if="!checkEmptyObject(edited)">
            <button type="button" ng-click="upload()" class="center btn btn-primary">
                Upload
            </button>
            <button type="button" ng-click="clearEdit()" class=" center btn btn-success">
                Clear Edits
            </button>
        </li>
    </ul>
    <div cg-busy="{promise:promise, message:'Loading..', backdrop:true}"></div>
</div>
<div cg-busy="{promise:promise1, message:'Loading..', backdrop:true}"></div>
<div class="tableContainer" ng-if="selection">
    <div class="fixed"><em>Editable Sheet</em></div>
    <div class="scrollable">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th rowspan="3" width="15px">Roll No</th>
                    <th ng-repeat="data in selection | orderObjectBy: 'date'"><span class=" glyphicon glyphicon-calendar"></span> {{data.date| date: 'dd/MM'}}</th>
                    <th rowspan="3" width="15px">Lazy Att.</th>
                    <th rowspan="3">Total </th>
                </tr>
                <tr>
                    <th ng-repeat="data in selection | orderObjectBy: 'date'"><span class=" glyphicon glyphicon-hourglass"></span> {{data.noofhours}}</th>
                </tr>
                <tr>
                    <td  ng-repeat="data in selection | orderObjectBy: 'date'" >
                        <span data-toggle="tooltip" data-original-title="{{data.topic | uppercase}}" class=" glyphicon glyphicon-pencil"></span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="student in students | orderObjectBy :'rollno'">
                    <th>{{student.rollno}}</th>
                    <td ng-repeat="(key,data) in selection" ng-init="calculateCumAtt(student.rollno,data.presentno.indexOf(student.uid) > -1?data.noofhours:0,data.noofhours)">
                        <div data-toggle="tooltip" ng-click="!edit[key]||click(key,student.uid); !edit[key]||reCalculateCumAtt(student.rollno,data.noofhours,data.presentno.indexOf(student.uid) > -1?'pr':'ab')"
                        data-original-title="{{student.name}}" class="center" ng-class="{absent: data.absentno.indexOf(student.uid) > -1,present:data.presentno.indexOf(student.uid) > -1,editMode:edit[key]==true}"></div>
                    </td>
                    <td ng-init="calculateCumAtt(student.rollno,LA[student.uid].att,LA[student.uid].totalAtt)">{{LA[student.uid].att}}</td>
                    <th data-toggle="tooltip" data-original-title="{{student.rollno}} {{student.name}}">{{cumAtt[student.rollno].att}}/<small>{{cumAtt[student.rollno].totalAtt}}<small></th>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td ng-repeat="(key,data) in selection">
                        <button type="button" ng-click="enableEditing(key)" ng-show="!edit[key]" class="btn btn-primary">
                            Edit
                        </button>
                        <button type="button" ng-click="doneEditing(key)" ng-show="edit[key]" class="btn btn-success">
                            Done
                        </button>
                    </td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>